HELP.md
CLAUDE.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/build/generated/
.logs
.docs

### enviornment ###
.env
.env.*
*.env.*
application.properties
application-*.properties
application-local.yml
application-test.yml
### Logs ###
*.log
logs/
nohup.out

### Temp & Backup ###
*.tmp
*.orig
*.bak

### Docker local override ###
docker-compose.override.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.class
*.ser

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
**/.DS_Store
